@import "tailwindcss";


html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
  --gradient-background: linear-gradient(to bottom, #02353C, #C1B2FF); /* New gradient background variable */
  --font-kulim-park: 'Kulim Park', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --custom-background: #388DDC;
    --gradient-background: linear-gradient(to bottom, #02353C, #C1B2FF); /* Same gradient for dark mode */
  }
}

body {
  color: var(--foreground);
  background: var(--custom-background); 
  font-family: var(--font-geist-sans);
}


/* authentication styling */
.background {
  color: var(--foreground);
  background: var(--custom-background); 
  font-family: var(--font-geist-sans);
}

.auth-bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover ; 
}

.custom-border-input {
  border-radius: 20px !important;
}

.custom-subheading {
  font-size: 13px !important;
}

.reaction-button {
  background-color: #02353C !important;
  min-width: 6vw;
  height: 35px;
  margin-right: 15px !important;
  border-radius: 10px !important;
}

.active-reaction-button {
  background-color: #C1B2FF !important;
  min-width: 6vw;
  height: 35px;
  margin-right: 15px !important;
  border-radius: 10px !important;
}


.custom-snackbar {
  background-color: green !important;
  color: white !important;
  min-width: 18vw !important;
  font-size: 14px;
  border-radius: 5px;
  text-align: center;
  padding: 15px;
}

.create-post-with-images {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
  object-position: center; 
  border-radius: 10px;
}

.post-images {
  max-height: 60vh !important;
  min-width: 20vw;
}


.delete-image-button {
  background-color: rgba(0, 0, 0, 0.223) !important;
}

.profile-avatar {
  width: 50px !important;
  height: 50px !important;
}

.drawer-buttons {
  height: 6vh !important;
  margin-bottom: 10px !important;
  display: flex;
  justify-content: start !important;
  color: black !important;
  font-size: 17px !important;
  text-transform: capitalize !important;
}

.search-bar {
  width: 40vw !important;
  height: 100%;
  border: 1px solid white !important;
  border-radius: 20px;
}




/* Comments Styling */

.comment-close-icon {
  position: absolute;
  top: 1vh;
  right: 2vw;
}


/* Conversation Stylings */


.message-input {
  background-color: rgba(0, 0, 0, 0.557) !important;
  /* width: 30vw !important; */
  height: 50px;
  padding: 0px 30px;
  border-radius: 50px;
}


.users {
  height: 70px !important;
  display: flex;
  align-items: center;
  justify-content: start !important;
  padding: 0px 20px;
  margin-bottom: 8px !important;
  background-color: rgba(0, 0, 0, 0.400) !important;
}

.message-container {
  background-color: rgba(0, 0, 0, 0.400);
}

.message {
  background-color: rgba(255, 255, 255, 0.76);
  padding: 15px !important;
  min-width: auto !important;
  color: black;
  border-radius: 20px;
}