@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gradient-background: linear-gradient(to bottom, #02353C, #C1B2FF); /* New gradient background variable */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --gradient-background: linear-gradient(to bottom, #02353C, #C1B2FF); /* Same gradient for dark mode */
  }
}

body {
  color: var(--foreground);
  background: var(--gradient-background); /* Applying the gradient background */
  font-family: Arial, Helvetica, sans-serif;
}

.reaction-button {
  background-color: #02353C !important;
  min-width: 6vw;
  height: 35px;
  margin-right: 15px !important;
  border-radius: 10px !important;
}


.custom-snackbar {
  background-color: green !important;
  color: white !important;
  min-width: 18vw !important;
  font-size: 14px;
  border-radius: 5px;
  text-align: center;
  padding: 15px;
}

.create-post-with-images {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
  object-position: center; 
  border-radius: 10px;
}

.post-images {
  max-height: 60vh !important;
  min-width: 20vw;
}



.delete-image-button {
  background-color: rgba(0, 0, 0, 0.223) !important;
}